.password-input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.password-input-container label {
    margin-right: 10px;
    font-weight: bold;
}

.password-input-container input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}

.password-input-container button {
    min-width: 64px;
    padding: 5px 10px;
}
