.password-validator-container ul {
    list-style-type: none;
    padding: 0;
}

.password-validator-container li {
    margin: 5px 0;
    color: red;
}

.password-validator-container li.valid {
    color: green;
}
  